<!DOCTYPE html>
<html lang="en">
<head>
    {{> /include/header}}
</head>
<body>
    {{> /include/navigation}}
    <table class="table table-condensed">
        <thead>
            <th>사용자 ID</th>
            <th>이름</th>
            <th>이메일</th>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td>{{userID}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td><a href="/users/{{id}}/form" class='btn btn-primary'>수정</a></td>
            </tr>
            {{/users}}
        </tbody>
    </table>
    <script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
</body>
</html>